@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #777

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #777 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.wrapper
	width: 100%
	height: 100%
	margin: 0 auto

.container
	max-width: 1024px
	height: 100%
	margin: 0 auto

.section
	padding: 75px 0

.title
	font-family: 'UbuntuBold'
	font-size: 36px
	color: #393e6b
	margin: 0 0 30px 0
	text-transform: uppercase

.text
	font-family: 'UbuntuRegular'
	font-size: 16px
	color: $text
	margin: 0

.btn
	padding: 10px 0px
	border-radius: 50px
	text-transform: uppercase
	text-decoration: none
	font-family: 'UbuntuBold'
	font-size: 14px
	width: 255px
	text-align: center

.link
	color: $accent

.list-link
	font-size: 24px

.header
	padding: 30px 0
	&__inner
		display: flex
		align-items: center
		max-width: 1540px
		margin: 0 auto

.authorization
	display: flex
	&__sign-in
		color: #393e6b
		font-size: 18px
		text-transform: uppercase
		margin-right: 35px
	&__registration
		color: #393e6b
		font-size: 18px
		text-transform: uppercase

.nav
	display: flex
	margin-left: auto
	&__link
		color: #393e6b
		font-size: 18px
		text-transform: uppercase
		margin-right: 20px
		text-decoration: none

.logo
	&__img
		max-width: 115px
		height: 30px

.install
	background: $bg-section
	padding: 70px 0
	&__title
		margin-bottom: 20px
	&__text
		margin-bottom: 50px
	&__btn-box
		display: flex
	&__btn-free
		display: flex
		justify-content: center
		align-items: center
		background: $accent
		color: #fff
		margin: 0 20px 0 2px
	&__btn-tariffs
		display: flex
		justify-content: center
		align-items: center
		color: #393e6b
		border: 2px solid #393e6b

.simple
	padding: 50px 0 90px 0
	&__title
		font-size: 32px
		letter-spacing: -1px
		word-spacing: 6px
		margin-bottom: 10px
	&__text
		margin-bottom: 7px
	&__steps
		display: flex
		margin-left: -50px
	&__registration, &__install
		width: 255px
		display: flex
		flex-direction: column
	&__install .simple__number > .icon
		right: 151px
	&__number
		position: relative
		font-family: 'UbuntuBold'
		font-size: 150px
		color: #E1E2E9
		height: 195px
	&__number .icon
		position: absolute
		right: 155px
		bottom: 31px
		width: 50px
		height: 50px
	&__link
		font-size: 19px
		margin-left: 51px
.code
	background: $bg-section
	padding: 70px 0 50px 0
	&__title
		font-size: 32px
		letter-spacing: -1px
		word-spacing: 6px
		margin-bottom: 55px
	&__list
		padding-left: 20px

.item-list-code
	margin: 0 0 45px 0
	padding-left: 20px

.dashboard
	padding: 70px 0 50px 0
	&__title
		font-size: 29px
		letter-spacing: 1.3px
		word-spacing: 1.3px
		line-height: 41px
		margin-bottom: 20px
	&__text
		letter-spacing: 1px
		word-spacing: -2px
		margin: 0 0 55px 0
	&__list
		padding-left: 20px

.list-dashboard
	&__item
		padding-left: 20px
		// line-height: 27px
	&__link
		margin-bottom: 7px

.after-installation
	background: $bg-section
	padding: 55px 0 70px 0
	&__title
		font-size: 32px
		letter-spacing: -1px
		word-spacing: 3px
		margin-bottom: 10px
	&__steps-box
		margin: 60px 0
	&__step
		display: flex
		align-items: center
		margin-bottom: 24px
	&__btn-opportunities
		display: inline-block
		background: $accent
		color: #fff
		padding: 10px 6px
		margin-right: 17px
	&__btn-free
		display: inline-block
		background: #3B4269
		color: #fff
		padding: 10px 10px
		margin-right: 20px
.step
	&__title
		font-size: 24px
		font-family: 'UbuntuBold'
		color: #393e6b
	&__text 
		color: #393e6b
		font-family: 'UbuntuBold'
		font-size: 18px
	&__img
		margin-right: 35px

.step-icon
	width: 75px
	height: 75px

.channels
	padding: 50px 0 15px 0
	&__title
		color: #74757b
		margin-bottom: 60px
		letter-spacing: 1px
		word-spacing: 1.5px
	&__items
		display: flex
		flex-wrap: wrap
		justify-content: space-between
	&__item
		display: flex
		align-items: center
		margin-bottom: 45px

.item-channels
	&__img
		margin-right: 30px

.channels-icon
	width: 40px
	height: 40px

.footer
	background: #393E6B
	&__inner
		margin: 0 auto
		max-width: 1540px
		padding: 40px 105px 65px 70px
	&__grid
		display: flex
	&__col
		display: flex
		flex-direction: column
		&_left
			padding-top: 10px
			margin-right: 190px
		&_right
			margin-left: auto
	&__logo
		width: 100%
		height: 43px
		box-sizing: border-box
		display: block
		text-decoration: none
		padding: 5px 0
		margin-bottom: 15px
		background: url('../img/logo_footer.svg') no-repeat 0% 50% / 140px 140px
	&__item_phone
		width: 100%
		padding: 10px 0 10px 40px
		font-size: 24px
		font-weight: 500
		color: #fff
		background: url('../img/phone_footer.svg') no-repeat 0 50%
		background-size: 28px 28px
		margin-bottom: 10px
	&__item_center
		margin-bottom: 25px
	&__link
		color: #fff
		font-size: 20px
		text-decoration: none
	&__text
		color: #ADB1C4
		line-height: 20px

.social
	&__icon
		width: 24px
		height: 24px
		display: inline-block
		margin-right: 15px
		&_vk
			background: url('../img/vk_footer.svg') no-repeat 50% 50%
			background-size: 24px 24px
		&_fb
			background: url('../img/fb_footer.svg') no-repeat 50% 50%
			background-size: 24px 24px
		&_tweeter
			background: url('../img/tweeter_footer.svg') no-repeat 50% 50%
			background-size: 24px 24px
		&_skype
			background: url('../img/skype_footer.svg') no-repeat 50% 50%
			background-size: 24px 24px

@import "media"
